h1 {
font-size: 4rem;
color: blue;
text-shadow: 3px 2px 1px purple;
background-color: aquamarine;
text-align: center;
border: 2px solid blue;
letter-spacing: 3px;
}

h2 {
color: blue;
font-size: 3rem;
text-shadow: 3px 2px 2px purple;
}

body {
background: url(https://upload.wikimedia.org/wikipedia/commons/3/37/Clock.gif) no-repeat center fixed;
}


nav {
display: flex;
justify-content: center;
flex-direction: row;
}

main {
display: flex;
}

main > * {
flex-basis: 100%;
}



.navi {
  font-size: 24px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
border-right: 1px solid blue;
border-left: 1px solid blue;
border-top: 1px solid blue;
border-bottom: 1px solid blue;
padding: 5px;
background-color: aquamarine;
text-decoration: none;
border-collapse: collapse;
width: 100%;
}

a:hover.navi {
color: green;
background-color: yellow;
}

div.signup {
display: block;
background-color: lightgray;
padding: 5px;
text-align: center;
}

input {
  margin: 5px;

}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

.icons {
background-color: darkgrey;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 20px;
padding: 20px;
}

footer {
width: 100%;
}